@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>Manage your account</h1>

<div class="card shadow p-5">
    <div class="card-header">
        <h4>Change your account settings</h4>
    </div>
    
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-3">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
