@page
@model LoginModel

@{
    Layout = "/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "Log in";
}

<div class="row justify-content-center p-5">
    <div class="col-md-6 ">
        <div>
            <div class="card shadow">

                <div class="card-header bg-gradient-success">
                    <p class="card-title text-center text-white">Welcome Back!</p>
                </div>

                <div class="card-body">
                    <!-- Nested Row within Card Body -->
                    <form id="account" method="post">
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="btn-group btn-block" role="group" aria-label="Basic example">
                                <input type="submit" value="Sign In" class="btn btn-outline-success" />
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

