@model UpdateEmployeeViewModel

@{
    ViewData["Title"] = "Edit";
}


<div class="row justify-content-center p-5">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-header bg-success text-center">
                <h6 class="card-title text-white ">Update Employee Detail</h6>
            </div>
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                            <input asp-for="EmployeeNumber" class="form-control" placeholder="Employee Number" />
                            <span asp-validation-for="EmployeeNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="CompanyEmail" class="form-control" placeholder="Company Email" />
                            <span asp-validation-for="CompanyEmail" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="PersonalEmail" class="form-control" placeholder="Person Email" />
                            <span asp-validation-for="PersonalEmail" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                            </label>
                        </div>

                        <input type="hidden" asp-for="EmployeeID" />
                        <div class="form-group">
                            <div class="btn-group btn-block" role="group" aria-label="Basic example">
                                <input type="submit" value="Save" class="btn btn-outline-success" />
                                <a class="btn btn-secondary" asp-action="Index">Back</a>
                            </div>
                        </div>
</form>
            </div>
        </div>
       
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
