Migrations/20190906012421_azureid.cs
Migrations/20190906012421_azureid.Designer.cs
Migrations/20190906013558_seed.cs
Migrations/20190906013558_seed.Designer.cs
Migrations/20190906015552_discriminator.cs
Migrations/20190906015552_discriminator.Designer.cs
Migrations/ApplicationDbContextModelSnapshot.cs
wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css
wwwroot/js/site.js
wwwroot/css/site.css
wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map
wwwroot/favicon.ico
wwwroot/lib/bootstrap/LICENSE
wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map
wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css
wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css
wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map
wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css
wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
wwwroot/lib/bootstrap/dist/css/bootstrap.css
wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js
wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
wwwroot/lib/bootstrap/dist/js/bootstrap.js
wwwroot/lib/bootstrap/dist/js/bootstrap.js.map
wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map
wwwroot/lib/jquery/LICENSE.txt
wwwroot/lib/jquery/dist/jquery.js
wwwroot/lib/jquery/dist/jquery.min.js
wwwroot/lib/jquery/dist/jquery.min.map
wwwroot/lib/jquery-validation/LICENSE.md
wwwroot/lib/jquery-validation/dist/additional-methods.js
wwwroot/lib/jquery-validation/dist/additional-methods.min.js
wwwroot/lib/jquery-validation/dist/jquery.validate.js
wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
/obj
/bin
/.vs
